body {
  background-color:  #151B54;
  color: #fff;
}

.container {
  margin-top: 50px;
}

.card {
  background-color: #3090C7;
  padding: 20px;
}

.list-group-item {
  background-color: #4e4e4e;
  color: #fff;
  border: none;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.add-task-input {
  padding: 10px 15px;
  margin-right: 10px;}

.add-task-btn {
  border-radius: 0px;
}

.done-section,
.todo-section {
  padding: 15px;
  margin-bottom: 20px;
}

.done-section {
  background-color: #728FCE;
}